<header>

  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">

    <a routerLink=""><img src="/assets/logo2.png" alt="logo" width="70" height="40" alt="logo">ComputerStore</a>

    <div>
        <input>
        <button mat-button > Znajdź </button>
    </div>

    <div>
        <a href="#"><img src="/assets/user.png" alt="user" width="25" height="30" alt="">Zaloguj</a>
    </div>

    <div>
      <a routerLink="admin">Admin</a>
    </div>

  </mat-toolbar>

</header>